<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top"
     data-controller="navbar"
     data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid">
    <%# <a class="navbar-brand"> %>
      <%= link_to( image_tag("profile_photo.jpeg", alt: "My Face"), root_path, :class => "navbar-brand") %>
    <%# </a> %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Resume", portfolio_path, :class => "nav-link" %>
          </li>
          <%# <li class="nav-item">
            <%= link_to "About", about_path, :class => "nav-link" %>
          <%# </li> %>
          <%# <li class="nav-item">
            <%= link_to "Contact", contact_path, :class => "nav-link" %>
          <%# </li> %>
          <%# <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li> %>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
