<head>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PJS128JBMT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PJS128JBMT');
</script>

<h1>About</h1>

<ol>
  <% @hobbies.each do |hobby| %>
    <li><%= hobby.capitalize %></li>
  <% end %>
</ol>
