<head>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PJS128JBMT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PJS128JBMT');
</script>

<div class="container">
    <p class="heading">— Co-educational sports and arts based holiday camps for children in London’s east end</p>
</div>
<div class="container">
  <div class="grid-row">
    <div class="image-spacer">
      <div class="image">
        <%= image_tag "campcanary.jpg", class: "image__img"%>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="grid-row">
      <p class="portfolio-descriptions">Camp Canary ran for two years before being handed over to a colleague. Focussing on team building, sportsmanship and leaderships skills development children took part in a wide ranging curriculum of sports and arts activities. Growing from 5 to 25+ students per session we ran regularly during school holiday season. </p>
    </div>
  </div>
</div>
