<div class="container">
  <div class="row">
    <div class = "col-12 col-lg-12">
     <p class="heading">— Andrew is a Product Manager and Digital Learning Expert in London</p>
    </div>
    <div class="col-12 col-lg-6 d-flex justify-content-lg-end"><%= image_tag "Shape1.png" %></div>
    <div class="col-12 col-lg-6 d-flex justify-content-lg-start"><%= image_tag "Shape2.png" %></div>
  </div>
</div>

<%# <div class="banner">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div> %>
