<head>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PJS128JBMT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PJS128JBMT');
</script>

<div class="container">
    <p class="heading">— Personalised flashcard web app to create and share revision aids with your friends or students. </p>
</div>
<div class="grid-row">
  <div class="image-spacer">
    <div class="image">
      <%= image_tag "learnbetter.png", class: "image__img"%>
    </div>
  </div>
</div>
<div class="container">
  <p class="body">Learn Better was the final project for my Le Wagon full-stack web development bootcamp. Working collaboratively with two colleagues we designed, wireframed, and developed a shareable flashcard web application. Built using Ruby, the app also includes a JS carousel of flashcards that enables students to indicate whether they “know” or “did not know" the answer to each flashcard.  </p>
</div>
