<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 m-4">
     <h1>Resume</h1>
    </div>
    <div class="col-8 m-4">
      <h3>All my wonderful achievements...</h3>
    </div>
    <div class="col-8">
      <iframe src=
                  "https://docs.google.com/document/d/e/2PACX-1vR4bqm6v9Ux5YaF0Vn2iwIRFOKg-Lbd-dLMy-QVZYz7uNw-TR548PjnzBo4Q05EkQ07P_ier1V1bbWq/pub?embedded=true"
                  width="800"
                  height="500">
      </iframe>
    </div>
  </div>
</div>
